In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [82]:
df_P = pd.io.parsers.read_csv(filepath_or_buffer = 'data/D0_filt_10mino3.csv',index_col = 0)
print df_P[:5]

                       O3_ppb    UnixTime       e2v03       Temp         Rh  \
DATE (MM/DD/YYYY)_MST
7/10/14 20:25              41  1405023930  114.714286  45.800000  11.400000
7/10/14 20:26              39  1405023991  120.428571  45.814286  11.314286
7/10/14 20:27              44  1405024053  119.142857  45.857143  11.300000
7/10/14 20:28              47  1405024110  117.500000  45.900000  11.300000
7/10/14 20:29              44  1405024167  120.285714  45.900000  11.457143

                       Zenith Angle [degrees]  days from start  ref_o3_smooth  \
DATE (MM/DD/YYYY)_MST
7/10/14 20:25                        99.48960                0             41
7/10/14 20:26                        99.63789                0             39
7/10/14 20:27                        99.78580                0             44
7/10/14 20:28                        99.93332                0             47
7/10/14 20:29                       100.08045                0             44

                       pod_o3_smooth
DATE (MM/DD/YYYY)_MST
7/10/14 20:25             114.714286
7/10/14 20:26             120.428571
7/10/14 20:27             119.142857
7/10/14 20:28             117.500000
7/10/14 20:29             120.285714

In [83]:
df_P.drop(df_P.columns[[7,8]], axis=1, inplace=True)
print df_P[:5]

                       O3_ppb    UnixTime       e2v03       Temp         Rh  \
DATE (MM/DD/YYYY)_MST
7/10/14 20:25              41  1405023930  114.714286  45.800000  11.400000
7/10/14 20:26              39  1405023991  120.428571  45.814286  11.314286
7/10/14 20:27              44  1405024053  119.142857  45.857143  11.300000
7/10/14 20:28              47  1405024110  117.500000  45.900000  11.300000
7/10/14 20:29              44  1405024167  120.285714  45.900000  11.457143

                       Zenith Angle [degrees]  days from start
DATE (MM/DD/YYYY)_MST
7/10/14 20:25                        99.48960                0
7/10/14 20:26                        99.63789                0
7/10/14 20:27                        99.78580                0
7/10/14 20:28                        99.93332                0
7/10/14 20:29                       100.08045                0

####Define the slope function.

In [67]:
def find_lag_slope(df_P, int_min, data_col):
    df_P['diff'] = df_P[data_col].diff()
    
    slope = []
    for i in range(int_min,len(df_P['diff'])):
        top = i-int_min
        slope.append(df_P['diff'][top:i].mean())
    
    for i in range(0,int_min):
        slope.insert(i, 'NaN')

    return slope

In [68]:
def find_lead_slope(df_P, int_min, data_col):
    df_P['diff'] = df_P[data_col].diff()
    slope = []
    for i in range(0,len(df_P[data_col])-int_min):
        top = i + int_min
        slope.append(df_P['diff'][i:top].mean())
    
    for i in range(len(df_P[data_col])-int_min, len(df_P[data_col])):
        slope.insert(i, 'NaN')

    return slope

####Define functions that create features that represent the area under the temp and humidity curves.

In [69]:
def find_lag_integral(df_P, int_min, data_col):
    area_curve = []

    for i in range(int_min,len(df_P[data_col])):
        top = i - int_min
        area_curve.append(np.trapz(df_P[data_col][top:i]))
    
    for i in range(0,int_min):
        area_curve.insert(i, 'NaN')
    
    return area_curve

In [70]:
def find_lead_integral(df_P, int_min, data_col):
    area_curve = []

    for i in range(0,len(df_P[data_col])-int_min):
        top = i + int_min
        area_curve.append(np.trapz(df_P[data_col][i:top]))
    
    for i in range(len(df_P[data_col]-int_min), len(df_P[data_col])):
        area_curve.insert(i, 'NaN')
    
    return area_curve

In [71]:
#relative start time must be less than relative end time
def sliding_integral_lag(df_P, start_min_before, end_min_before, column):
    interval = start_min_before - end_min_before 
    a = df_P['e2v03'].shift(end_min_before).values
    v = np.zeros(interval)
    v[0:interval] = 1
    out = np.convolve(a, v, 'valid')
    out = np.concatenate((np.array([float('nan')] * interval), out))
    out = np.delete(out, len(out)-1)
    return out

In [22]:
#0-5 minutes before, i = 5
a = df_P['e2v03'].shift(0)[:25].values
v = np.zeros(5)
v[0:5] = 1
out = np.convolve(a, v, 'valid')
out = np.concatenate((np.array([float('nan')] * 5), out))
out = np.delete(out, len(out)-1)
print out
print len(a)
print len(out)

[         nan          nan          nan          nan          nan
  592.0714285  594.0714285  587.3571428  575.5        563.8571429
  548.4047619  537.1190476  533.6904762  535.6904762  537.547619
  538.4285714  539.5        537.2142857  536.2142857  534.5        541.0714286
  546.1428572  546.6428572  544.2142858  544.5000001]
25
25

In [24]:
#5-10 minutes before
a = df_P['e2v03'].shift(5)[:25].values
v = np.zeros(5)
v[0:5] = 1
out = np.convolve(a, v, 'valid')
out = np.concatenate((np.array([float('nan')] * 5), out))
out = np.delete(out, len(out)-1)
print out
print len(out)

[         nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
  592.0714285  594.0714285  587.3571428  575.5        563.8571429
  548.4047619  537.1190476  533.6904762  535.6904762  537.547619
  538.4285714  539.5        537.2142857  536.2142857  534.5      ]
25

In [49]:
#0-10 minutes before
a = df_P['e2v03'].shift(0).values
v = np.zeros(10)
v[0:10] = 1
out = np.convolve(a, v, 'valid')
out = np.concatenate((np.array([float('nan')] * 5), out))
out = np.delete(out, len(out)-1)
print out
print len(out)

[          nan           nan           nan ...,  976.42857138  975.28571423
  975.42857138]
10073

In [47]:
#10-15 minutes before
a = df_P['e2v03'].shift(10).values
v = np.zeros(10)
v[0:5] = 1
out = np.convolve(a, v, 'valid')
out = np.concatenate((np.array([float('nan')] * 5), out))
out = np.delete(out, len(out)-1)
print out[:20]
print len(out)
print len(a)

[         nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
  548.4047619  537.1190476  533.6904762  535.6904762  537.547619 ]
10073
10078

###Call the slope functions and add them to the dataframe.

In [72]:
def make_func_caller_find_lag_integral(df_P, min_time, max_time, interval, column):
    i = min_time
    while i <= max_time:    
        df_P[str(column) + '_int' + '_lag_' + str(i)] = find_lag_integral(df_P, i, column)      
        i += interval
    return df_P  

def make_func_caller_find_lead_integral(df_P, min_time, max_time, interval, column):
    i = min_time
    while i <= max_time:    
        df_P[str(column) + '_int' + '_lead_' + str(i)] = find_lead_integral(df_P, i, column)      
        i += interval
    return df_P 

def make_func_caller_sliding_integral_lag(df_P, max_end_min_before, min_end_min_before, frequency, interval_size, column):
    i = min_end_min_before
    while i <= max_end_min_before:
        start = i + interval_size
        df_P[str(column) + '_int' + '_slide_' + str(start) + '_to_' + str(i) + '_before'] = sliding_integral_lag(df_P, start, i, column)      
        i += frequency
    return df_P 

def make_func_caller_find_lag_slope(df_P, min_time, max_time, interval, column):
    i = min_time
    while i <= max_time:    
        df_P[str(column) + '_slope' + '_lag_' + str(i)] = find_lag_slope(df_P, i, column)      
        i += interval
    return df_P 

def make_func_caller_find_lead_slope(df_P, min_time, max_time, interval, column):
    i = min_time
    while i <= max_time:    
        df_P[str(column) + '_slope' + '_lead_' + str(i)] = find_lead_slope(df_P, i, column)      
        i += interval
    return df_P 

def make_func_caller_find_sliding_slope(df_P, start_bef_or_aft_point, end_bef_or_aft_point, size, column):
    i = size
    while i <= size:    
        df_P[str(column) + '_slope' + '_slide_' + str(i)] = find_sliding_slope(df_P, start_bef_or_aft_point, end_bef_or_aft_point, i, column)      
        i += size
    return df_P

In [ ]:
#call the lag int function for o3, temp, and rh
make_func_caller_find_lag_integral(df_P, 1, 115, 10, 'e2v03')
make_func_caller_find_lag_integral(df_P, 1, 115, 10, 'Temp')
make_func_caller_find_lag_integral(df_P, 1, 115, 10, 'Rh')

#call the lead int for o3, temp, and rh
make_func_caller_find_lead_integral(df_P, 1, 115, 10, 'e2v03')
make_func_caller_find_lead_integral(df_P, 1, 115, 10, 'Temp')
make_func_caller_find_lead_integral(df_P, 1, 115, 10, 'Rh')

#call the lag sliding integral function
# inputs- (df_P, max_end_min_before, min_end_min_before, frequency, interval_size, column)
make_func_caller_sliding_integral_lag(df_P, 90, 0, 5, 5, 'e2v03')
make_func_caller_sliding_integral_lag(df_P, 90, 0, 5, 10, 'e2v03')
make_func_caller_sliding_integral_lag(df_P, 90, 0, 5, 15, 'e2v03')
make_func_caller_sliding_integral_lag(df_P, 90, 0, 5, 30, 'e2v03')

#call the lag slope for o3, temp, and rh
make_func_caller_find_lag_slope(df_P, 1, 115, 10, 'e2v03')
make_func_caller_find_lag_slope(df_P, 1, 115, 10, 'Temp')
make_func_caller_find_lag_slope(df_P, 1, 115, 10, 'Rh')

#call the lead slope for o3, temp, and rh
make_func_caller_find_lead_slope(df_P, 1, 115, 10, 'e2v03')
make_func_caller_find_lead_slope(df_P, 1, 115, 10, 'Temp')
make_func_caller_find_lead_slope(df_P, 1, 115, 10, 'Rh')

df_P[:5]

In [85]:
df_P

,O3_ppb,UnixTime,e2v03,Temp,Rh,Zenith Angle [degrees],days from start,e2v03_int_lag_1,e2v03_int_lag_11,e2v03_int_lag_21,...,Rh_int_lag_21,Rh_int_lag_31,Rh_int_lag_41,Rh_int_lag_51,Rh_int_lag_61,Rh_int_lag_71,Rh_int_lag_81,Rh_int_lag_91,Rh_int_lag_101,Rh_int_lag_111
DATE (MM/DD/YYYY)_MST,,,,,,,,,,,,,,,,,,,,,
7/10/14 20:25,41,1405023930,114.714286,45.800000,11.400000,99.48960,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:26,39,1405023991,120.428571,45.814286,11.314286,99.63789,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:27,44,1405024053,119.142857,45.857143,11.300000,99.78580,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:28,47,1405024110,117.500000,45.900000,11.300000,99.93332,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:29,44,1405024167,120.285714,45.900000,11.457143,100.08045,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:30,45,1405024228,116.714286,45.900000,11.271429,100.22718,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:31,49,1405024290,113.714286,45.842857,11.114286,100.37352,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:32,55,1405024351,107.285714,45.800000,11.042857,100.51946,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:33,58,1405024412,105.857143,45.800000,11.000000,100.66500,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:34,58,1405024470,104.833333,45.733333,10.883333,100.81014,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:35,58,1405024527,105.428571,45.700000,10.814286,100.95487,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:36,53,1405024588,110.285714,45.614286,10.885714,101.09919,0,0,1135.833,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:37,49,1405024650,109.285714,45.514286,10.914286,101.24311,0,0,1126.119,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:38,51,1405024711,107.714286,45.400000,10.985714,101.38661,0,0,1116.119,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:39,54,1405024773,105.714286,45.371429,11.000000,101.52970,0,0,1106.298,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:40,55,1405024830,106.500000,45.333333,11.183333,101.67236,0,0,1094.119,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:41,52,1405024887,108.000000,45.300000,11.328571,101.81461,0,0,1081.726,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:42,49,1405024948,108.285714,45.285714,11.428571,101.95644,0,0,1073.762,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:43,49,1405025009,106.000000,45.171429,11.528571,102.09784,0,0,1071.405,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:44,44,1405025071,112.285714,45.142857,11.657143,102.23881,0,0,1071.976,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:45,47,1405025132,111.571429,45.085714,11.742857,102.37936,0,0,1075.774,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:46,51,1405025190,108.500000,45.050000,11.850000,102.51947,0,0,1082.571,2218.405,...,223.981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:47,50,1405025247,105.857143,44.985714,11.914286,102.65915,0,0,1084.75,2210.869,...,224.4202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:48,47,1405025308,106.285714,45.000000,11.885714,102.79838,0,0,1082.143,2198.262,...,224.9952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:49,55,1405025369,101.714286,44.900000,11.471429,102.93718,0,0,1079.714,2186.012,...,225.5952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:50,58,1405025431,101.857143,44.842857,11.671429,103.07554,0,0,1077,2171.119,...,225.8952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:51,54,1405025492,104.142857,44.814286,11.700000,103.21345,0,0,1072.679,2154.405,...,226.1024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:52,56,1405025549,102.000000,44.850000,11.666667,103.35091,0,0,1068.429,2142.19,...,226.5952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:53,59,1405025607,100.285714,44.828571,11.757143,103.48792,0,0,1063.357,2134.762,...,227.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/10/14 20:54,57,1405025669,102.285714,44.842857,11.857143,103.62448,0,0,1057.357,2129.333,...,227.8905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9/3/14 23:30,30,1409787031,89.571429,40.800000,9.771429,132.56758,55,0,866.2381,1684.214,...,195.0619,289.2762,382.9893,477.8905,571.3167,663.2643,752.1667,837.0833,921.944,1005.601
9/3/14 23:31,32,1409787093,91.000000,40.800000,9.742857,132.60092,55,0,864.4524,1685.571,...,195.119,289.9048,383.219,478.1881,571.6452,663.8786,753.2738,838.0905,923.3071,1007.052
9/3/14 23:32,29,1409787150,91.000000,40.800000,9.750000,132.63316,55,0,861.6667,1686.857,...,195.0976,290.419,383.5476,478.4643,572.069,664.5143,754.2881,839.1333,924.7357,1008.602
9/3/14 23:33,24,1409787207,89.857143,40.800000,9.728571,132.66428,55,0,863.1071,1691.786,...,195.144,290.8226,383.894,478.7036,572.5964,665.1607,755.2345,840.1798,926.2179,1010.056
9/3/14 23:34,15,1409787269,90.857143,40.800000,9.771429,132.69430,55,0,868.3333,1701.81,...,195.3083,291.2048,384.2333,478.9429,573.1286,665.8,756.1524,841.3167,927.7429,1011.395
9/3/14 23:35,14,1409787331,95.285714,40.800000,9.771429,132.72321,55,0,875.1905,1713.048,...,195.4119,291.5274,384.5833,479.15,573.5857,666.4643,757.031,842.6714,929.2571,1012.738
9/3/14 23:36,17,1409787389,96.333333,40.800000,9.966667,132.75100,55,0,884.4762,1726.762,...,195.4833,291.7643,384.919,479.394,574.0286,667.1571,757.8595,844.2,930.7,1014.045
9/3/14 23:37,32,1409787446,104.428571,40.714286,9.957143,132.77767,55,0,896.2143,1744.5,...,195.6738,292.0905,385.3667,479.8429,574.5821,667.8667,758.7357,845.8048,932.0262,1015.457
9/3/14 23:38,30,1409787508,104.428571,40.700000,10.071429,132.80323,55,0,911.9286,1767.381,...,195.9357,292.5452,385.9857,480.3905,575.1857,668.5262,759.7143,847.431,933.1881,1017.04
9/3/14 23:39,33,1409787570,101.571429,40.685714,10.185714,132.82767,55,0,929.9762,1792.476,...,196.25,293.019,386.7643,480.9048,575.7429,669.1262,760.7167,849.0429,934.294,1018.69
9/3/14 23:40,38,1409787632,94.428571,40.685714,10.242857,132.85099,55,0,946.4048,1812.643,...,196.6714,293.55,387.7643,481.4774,576.3786,669.8048,761.7524,850.6548,935.5714,1020.432
9/3/14 23:41,48,1409787690,91.000000,40.700000,10.250000,132.87319,55,0,956.7619,1821.214,...,197.0571,294.0714,388.8571,482.1714,577.1405,670.5976,762.831,852.2262,937.0429,1022.26
9/3/14 23:42,43,1409787747,92.714286,40.642857,10.285714,132.89426,55,0,959.1905,1820.857,...,197.3393,294.5393,389.8607,482.9893,577.906,671.5107,763.956,853.7298,938.575,1024.177
9/3/14 23:43,30,1409787809,87.285714,40.614286,10.271429,132.91420,55,0,960.0476,1823.155,...,197.6976,295.1071,390.7857,483.8571,578.6667,672.5595,765.1238,855.1976,940.1429,1026.181
9/3/14 23:44,35,1409787871,85.142857,40.557143,10.285714,132.93302,55,0,959.619,1827.952,...,198.1524,295.8107,391.7071,484.7357,579.4452,673.631,766.3024,856.6548,941.819,1028.245
9/3/14 23:45,39,1409787933,86.857143,40.585714,10.285714,132.95071,55,0,955.4762,1830.667,...,198.5595,296.4429,392.5583,485.6143,580.181,674.6167,767.4952,858.0619,943.7024,1030.288
9/3/14 23:46,42,1409787990,91.000000,40.516667,10.300000,132.96727,55,0,948.4048,1832.881,...,199.031,297.0286,393.3095,486.4643,580.9393,675.5738,768.7024,859.4048,945.7452,1032.245
9/3/14 23:47,11,1409788048,89.285714,40.514286,10.300000,132.98270,55,0,941.5238,1837.738,...,199.6667,297.6429,394.0595,487.3357,581.8119,676.5512,769.8357,860.7048,947.7738,1033.995
9/3/14 23:48,12,1409788110,86.142857,40.500000,10.300000,132.99699,55,0,931.2857,1843.214,...,200.2595,298.2429,394.8524,488.2929,582.6976,677.4929,770.8333,862.0214,949.7381,1035.495
9/3/14 23:49,18,1409788172,91.142857,40.400000,10.342857,133.01015,55,0,914.5714,1844.548,...,200.7381,298.8429,395.6119,489.3571,583.4976,678.3357,771.719,863.3095,951.6357,1036.887
9/3/14 23:50,21,1409788229,104.333333,40.400000,10.500000,133.02218,55,0,900.2143,1846.619,...,201.2738,299.4571,396.3357,490.55,584.2631,679.1643,772.5905,864.5381,953.4405,1038.357
9/3/14 23:51,17,1409788287,105.857143,40.414286,10.671429,133.03307,55,0,899.9524,1856.714,...,201.9452,300.05,397.0643,491.85,585.1643,680.1333,773.5905,865.8238,955.219,1040.036
9/3/14 23:52,25,1409788349,105.428571,40.400000,10.771429,133.04282,55,0,912.3333,1871.524,...,202.7738,300.6714,397.8714,493.1929,586.3214,681.2381,774.8429,867.2881,957.0619,1041.907
9/3/14 23:53,34,1409788411,107.142857,40.371429,10.828571,133.05144,55,0,926.119,1886.167,...,203.7488,301.4833,398.8929,494.5714,587.6429,682.4524,776.3452,868.9095,958.9833,1043.929
9/3/14 23:54,35,1409788473,100.285714,40.300000,10.814286,133.05892,55,0,942.4048,1902.024,...,204.8095,302.4595,400.1179,496.0143,589.0429,683.7524,777.9381,870.6095,960.9619,1046.126
9/3/14 23:55,39,1409788530,94.666667,40.366667,10.983333,133.06526,55,0,959.9048,1915.381,...,205.881,303.4095,401.2929,497.4083,590.4643,685.031,779.4667,872.3452,962.9119,1048.552
9/3/14 23:56,39,1409788588,92.142857,40.300000,11.142857,133.07046,55,0,971.381,1919.786,...,207.0083,304.494,402.4917,498.7726,591.9274,686.4024,781.0369,874.1655,964.8679,1051.208
9/3/14 23:57,33,1409788650,88.142857,40.300000,11.214286,133.07453,55,0,975.8571,1917.381,...,208.2024,305.9,403.8762,500.2929,593.569,688.0452,782.7845,876.069,966.9381,1054.007
9/3/14 23:58,36,1409788712,86.285714,40.242857,11.300000,133.07745,55,0,975.8571,1907.143,...,209.419,307.3714,405.3548,501.9643,595.4048,689.8095,784.6048,877.9452,969.1333,1056.85
9/3/14 23:59,38,1409788769,87.833333,40.200000,11.300000,133.07923,55,0,975.3571,1889.929,...,210.6619,308.8071,406.9119,503.681,597.4262,691.5667,786.4048,879.7881,971.3786,1059.705

In [87]:
#Delete the first and last 115 rows of the dataframe to remove all NaNs.
df_P = df_P.ix[115:len(df_P['e2v03'])-115]
print df_P.ix[:5]

                       O3_ppb    UnixTime      e2v03       Temp         Rh  \
DATE (MM/DD/YYYY)_MST
7/11/14 0:49               45  1405039772  90.142857  38.200000  18.500000
7/11/14 0:50               43  1405039833  92.000000  38.142857  18.500000
7/11/14 0:51               45  1405039890  92.000000  38.116667  18.500000
7/11/14 0:52               47  1405039947  93.714286  38.114286  18.500000
7/11/14 0:53               48  1405040008  96.142857  38.100000  18.542857

                       Zenith Angle [degrees]  days from start  \
DATE (MM/DD/YYYY)_MST
7/11/14 0:49                        117.36216                0
7/11/14 0:50                        117.32460                0
7/11/14 0:51                        117.28620                0
7/11/14 0:52                        117.24695                0
7/11/14 0:53                        117.20686                0

                      e2v03_int_lag_1 e2v03_int_lag_11 e2v03_int_lag_21  \
DATE (MM/DD/YYYY)_MST
7/11/14 0:49                        0         903.0952         1756.857
7/11/14 0:50                        0         909.4524         1759.786
7/11/14 0:51                        0         914.3095         1764.821
7/11/14 0:52                        0         918.0952         1772.571
7/11/14 0:53                        0          921.881         1780.143

                           ...       Rh_int_lag_21 Rh_int_lag_31  \
DATE (MM/DD/YYYY)_MST      ...
7/11/14 0:49               ...            362.8929      538.7452
7/11/14 0:50               ...            363.6857      540.2881
7/11/14 0:51               ...             364.494      541.4738
7/11/14 0:52               ...            365.2881      542.3667
7/11/14 0:53               ...            366.0024      543.2583

                      Rh_int_lag_41 Rh_int_lag_51 Rh_int_lag_61 Rh_int_lag_71  \
DATE (MM/DD/YYYY)_MST
7/11/14 0:49               705.4881      871.1833      1035.114      1198.024
7/11/14 0:50               707.4881      873.1119      1037.289      1200.388
7/11/14 0:51               709.5238      875.0119      1039.421      1202.638
7/11/14 0:52               711.5952      876.9036      1041.529      1204.795
7/11/14 0:53               713.5667      878.7024      1043.621      1206.852

                      Rh_int_lag_81 Rh_int_lag_91 Rh_int_lag_101  \
DATE (MM/DD/YYYY)_MST
7/11/14 0:49               1352.195      1490.174       1608.686
7/11/14 0:50               1355.849      1495.831       1615.529
7/11/14 0:51               1359.317      1501.081       1622.393
7/11/14 0:52               1362.717       1506.11       1629.243
7/11/14 0:53               1366.038      1511.131       1636.043

                      Rh_int_lag_111
DATE (MM/DD/YYYY)_MST
7/11/14 0:49                1725.095
7/11/14 0:50                1732.067
7/11/14 0:51                1739.067
7/11/14 0:52                1746.024
7/11/14 0:53                1752.931

[5 rows x 43 columns]

In [55]:
#df_P.drop(df_P.columns[[9]], axis=1, inplace=True)
#print df_P[:5]

In [88]:
#ozone terms
df_P['O3_sqrt'] = np.sqrt(df_P['e2v03'].astype(float))
df_P['O3_sq'] = df_P['e2v03']**2
df_P['O3_cu'] = df_P['e2v03']**3
df_P['ln_O3'] = np.log(df_P['e2v03'])


#temp terms
df_P['temp_sqrt'] = np.sqrt(df_P['Temp'].astype(float))
df_P['temp_sq'] = df_P['Temp']**2
df_P['temp_cu'] = df_P['Temp']**3
df_P['ln_temp'] = np.log(df_P['Temp'])


#rh terms
df_P['rh_sqrt'] = np.sqrt(df_P['Rh'].astype(float))
df_P['rh_sq'] = df_P['Rh']**2
df_P['rh_cu'] = df_P['Rh']**3
df_P['ln_rh'] = np.log(df_P['Rh'])


#ozone/temp interactions
df_P['03_mult_temp'] = df_P['e2v03']*df_P['Temp']
df_P['03_mult_temp_sq'] = (df_P['e2v03']*df_P['Temp'])**2
df_P['03_mult_temp_cu'] = (df_P['e2v03']*df_P['Temp'])**3
df_P['ln_03_mult_temp'] = np.log(df_P['03_mult_temp'])


#ozone/rh interactions
df_P['03_mult_rh'] = df_P['e2v03']*df_P['Rh']
df_P['03_mult_rh_sq'] = (df_P['e2v03']*df_P['Rh'])**2
df_P['03_mult_rh_cu'] = (df_P['e2v03']*df_P['Rh'])**3
df_P['ln_03_mult_rh'] = np.log(df_P['03_mult_rh'])

#temp/rh interactions
df_P['temp_mult_rh'] = df_P['Temp']*df_P['Rh']
df_P['temp_mult_rh_sq'] = (df_P['Temp']*df_P['Rh'])**2
df_P['temp_mult_rh_cu'] = (df_P['Temp']*df_P['Rh'])**3
df_P['ln_temp_mult_rh'] = np.log(df_P['temp_mult_rh'])


#ozone/rh/temp interactions
df_P['03_mult_rh_&_temp'] = df_P['e2v03']*df_P['Rh']*df_P['Temp']
df_P['03_mult_rh_&_temp_sq'] = (df_P['e2v03']*df_P['Rh']*df_P['Temp'])**2
df_P['03_mult_rh_&_temp_cu'] = (df_P['e2v03']*df_P['Rh']*df_P['Temp'])**3
df_P['ln_03_mult_rh_&_temp_cu'] = np.log(df_P['03_mult_rh_&_temp_cu'])

print df_P[:5]

                       O3_ppb    UnixTime      e2v03       Temp         Rh  \
DATE (MM/DD/YYYY)_MST
7/11/14 0:49               45  1405039772  90.142857  38.200000  18.500000
7/11/14 0:50               43  1405039833  92.000000  38.142857  18.500000
7/11/14 0:51               45  1405039890  92.000000  38.116667  18.500000
7/11/14 0:52               47  1405039947  93.714286  38.114286  18.500000
7/11/14 0:53               48  1405040008  96.142857  38.100000  18.542857

                       Zenith Angle [degrees]  days from start  \
DATE (MM/DD/YYYY)_MST
7/11/14 0:49                        117.36216                0
7/11/14 0:50                        117.32460                0
7/11/14 0:51                        117.28620                0
7/11/14 0:52                        117.24695                0
7/11/14 0:53                        117.20686                0

                      e2v03_int_lag_1 e2v03_int_lag_11 e2v03_int_lag_21  \
DATE (MM/DD/YYYY)_MST
7/11/14 0:49                        0         903.0952         1756.857
7/11/14 0:50                        0         909.4524         1759.786
7/11/14 0:51                        0         914.3095         1764.821
7/11/14 0:52                        0         918.0952         1772.571
7/11/14 0:53                        0          921.881         1780.143

                                ...           03_mult_rh_cu ln_03_mult_rh  \
DATE (MM/DD/YYYY)_MST           ...
7/11/14 0:49                    ...            4.637769e+09      7.419166
7/11/14 0:50                    ...            4.930360e+09      7.439559
7/11/14 0:51                    ...            4.930360e+09      7.439559
7/11/14 0:52                    ...            5.211138e+09      7.458021
7/11/14 0:53                    ...            5.666058e+09      7.485920

                      temp_mult_rh temp_mult_rh_sq temp_mult_rh_cu  \
DATE (MM/DD/YYYY)_MST
7/11/14 0:49            706.700000   499424.890000    3.529436e+08
7/11/14 0:50            705.642857   497931.841762    3.513620e+08
7/11/14 0:51            705.158333   497248.275156    3.506388e+08
7/11/14 0:52            705.114286   497186.155807    3.505731e+08
7/11/14 0:53            706.482857   499118.027283    3.526183e+08

                      ln_temp_mult_rh 03_mult_rh_&_temp 03_mult_rh_&_temp_sq  \
DATE (MM/DD/YYYY)_MST
7/11/14 0:49                 6.560606      63703.957141         4.058194e+09
7/11/14 0:50                 6.559109      64919.142852         4.214495e+09
7/11/14 0:51                 6.558422      64874.566672         4.208709e+09
7/11/14 0:52                 6.558360      66079.281622         4.366471e+09
7/11/14 0:53                 6.560299      67923.280396         4.613572e+09

                      03_mult_rh_&_temp_cu ln_03_mult_rh_&_temp_cu
DATE (MM/DD/YYYY)_MST
7/11/14 0:49                  2.585230e+14               33.186006
7/11/14 0:50                  2.736014e+14               33.242693
7/11/14 0:51                  2.730382e+14               33.240633
7/11/14 0:52                  2.885333e+14               33.295832
7/11/14 0:53                  3.133689e+14               33.378402

[5 rows x 71 columns]

In [89]:
df_P.to_csv(path_or_buf = 'data/D0_raw_features.csv')